<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Formation AngularJS - Directives</title>

        <meta name="description" content="Formation AngularJS - Directives en profondeur et outils">
        <meta name="author" content="Bertrand Gaillard">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/beige.css" id="theme">

        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <style>
        .reveal pre code {
            //max-height: 500px;
        }
        .reveal blockquote {
            width: 90%;
        }
        .reveal pre {
            font-size: .45em;
        }
        .reveal p > code,
        .reveal blockquote > code,
        .reveal li > code {
            color: #8b743d;
        }
        .reveal .credits-link {
            font-size: .35em;
            display: block;
        }
        </style>
        
    	<a href="http://www.sapiens-rwd.fr/" target="_blank" style="display: block; position: absolute; bottom: 10px; left: 10px; z-index: 1000;">
			<div style="background: url('images/rwd.png'); width: 110px; height: 110px; transform: scale(.7);" alt="Sapiens RWD"></div>
        </a>
        

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                
                  <section>
                    <h1>Formation AngularJS</h1>
                    <h2>Directives</h2>
                    <small><a target="_blank" href="http://bertrandg.github.io/">Bertrand GAILLARD</a>
                    <br><a target="_blank" href="http://www.sapiens-rwd.fr/">Sapiens RWD</a> - <a target="_blank" href="http://twitter.com/SapiensRWD">@SapiensRWD</a></small>
                    
<!--                     # http://blog.zenika.com/index.php?post/2013/12/19/AngularJS-Les-directives -->
<!--                     # http://www.sitepoint.com/practical-guide-angularjs-directives/ -->
                  </section>
                
                  <section>
                      <section>
                        <h1>Pourquoi faire ?</h1>
                      </section>
                        
                      <section>
                        <ul>
                            <li>Interaction avec le DOM (Jamais dans les <code>controllers</code>).</li>
                            <li class="fragment">Integration de librairies externes.</li>
                            <li class="fragment">Template sémantique.</li>
                        </ul>
                      </section>
                      
                      <section>
                          <p>Template sémantique</p>
                          
                          <pre><code><app>
  <header>
    <navigation-bar></navigation-bar>
    <user-info></user-info>
  </header>
  <content>
    <sidepanel></sidepanel>
    <awesome-magic-product></awesome-magic-product>
  </content>
  <footer></footer>
</app></code></pre>
                      </section>
                  </section>
                
                  <section>
                      <section>
                        <h1>Comment ?</h1>
                      </section>
                      
                      <section>
                          <p>Simple fonction qui retourne la définition de la <code>directive</code>:</p>
                      
                          <pre><code>app.directive('directiveName', function() {
  return {
    // définition de la directive
  };
});</code></pre><br>
                          <p>DDO: "Directive Definition Object"</p>
                      </section>
                      
                      <section>

                          <pre><code>app.directive('helloDirective', function() {
  return {
    restrict: 'AE',
    replace: true,
    template: '<h2>Hello world!</h2>'
  };
});</code></pre>

                        <pre class="fragment"><code><div class="container">
  <hello-directive></hello-directive>
</div></code></pre>
                        <pre class="fragment"><code><div class="container">
  <p hello-directive></p>
</div></code></pre>
                        <p class="fragment">Résultat:<br>
                            <pre class="fragment"><code><div class="container">
  <h2>Hello world!</h2>
</div></code></pre>
                        </p>
                      </section>
                  </section>
                
                  <section>
                      <section>
                        <h1>Options</h1>
                      </section>
                      
                      <section>
                        <h2>Restrict</h2>
                        
                        <ul>
                            <li>"E" Element<br>
                            <pre><code><my-directive></my-directive></code></pre></li>
                            <li>"A" Attribute<br>
                            <pre><code><div my-directive=""></div></code></pre></li>
                            <li>"C" Class<br>
                            <pre><code><div class="my-directive"></div></code></pre></li>
                            <li>"M" Comment
                            <pre><code><!-- directive: my-directive --></code></pre></li>
                        </ul>
                      </section>
                      
                      <section>
                        <h2>Priority</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    priority: 100,
    ...
  };
});</code></pre>
                        <p>Pour directives sur le même élément, le nombre le plus haut est exécuté en premier.</p>
                        
                        <pre><code><div ng-if="showMap" ng-controller="MapCtrl"></div>

<my-directive ng-if="showMyDirective()"></my-directive></code></pre>

                        <p><code>ngIf</code> a une <code>priority</code> de 600.</p>
                        <p><code>ngController</code> a une <code>priority</code> de 500.</p>
                      </section>
                      
                      <section>
                        <h2>Terminal</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    priority: 100,
    terminal: true,
    ...
  };
});</code></pre>
                        
                        <p>Aucune directive avec une <code>priority</code> plus basse ne sera exécuté sur l'élément.</p>
                        
                        <pre><code><div hello-directive>{{ variable }}</div>

<div hello-directive ng-bind="variable"></div></code></pre>
                        <pre><code><div>{{ variable }}</div></code></pre>
                        
                        <p><code>ngBind</code> a une <code>priority</code> de 0.</p>
                      </section>
                      
                      <section>
                        <h2>scope</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    scope: false,
    ...
  };
});</code></pre>
                        <p>Peut prendre 3 valeurs:</p>
                        <ul>
                            <li>FALSE: Pas de nouveau <code>scope</code>, utilise le courant.</li>
                            <li>TRUE: Créé un nouveau <code>scope</code> déscendant du courant.</li>
                            <li>OBJECT: Créé un <code>scope isolé</code>.</li>
                        </ul>
                        
                        <p>Par défaut à FALSE.</p>
                      </section>
                      
                      <section>
                        <h2>controlleur</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    controller: 'HelloDirCtrl',
    // ou bien
    controller: function($scope, OtherService) {},
    ...
  };
});</code></pre>
                        <p>Un <code>controller</code> classique lié au <code>scope</code> de la <code>directive</code>.<br>Pas d'interaction avec le DOM.</p>
                        
                        <span class="fragment">
                        	<pre><code>app.directive('ngController', function() {
  return {
    restrict: 'A',
    scope: true,
    controller: '@',
    priority: 500
  };
});</code></pre>
							<pre><code><div ng-controller="PlayerCtrl"></div></code></pre>
	                        <a href="https://github.com/angular/angular.js/blob/master/src/ng/directive/ngController.js#L229" target="_blank" class="credits-link">Code source de ngController</a>
                        </span>
                      </section>
                      
                      <section>
                        <h2>require</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    require: [
        '^parentDirective', /* présence de directive parentDirective REQUISE sur élément PARENT */
        'otherDirective', /* présence de directive ngModel REQUISE sur l élement */
        '?ngModel' /* présence de directive ngModel OPTIONNELLE sur l élement */
      ],
    ...
  };
});</code></pre>
                        <p>Permet d'imposer la présence d'une ou plusieurs <code>directives</code> sur l'élément courant ou bien son parent.</p>
                        <p>String ou tableau de strings.</p>
                      </section>
                      
                      <section>
                        <h2>template</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    template: '<div><h2>Hello directive!</h2></div>',
    ...
  };
});</code></pre>
                        <p>Remplace le contenu de l'élément sur lequel la directive est placée (<code>element.html()</code>).</p>
                        <p>Doit avoir un élément root unique.</p>
                        <p>Peut contenir d'autres <code>directives</code>.</p>
                      </section>
                      
                      <section>
                        <h2>templateUrl</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    templateUrl: 'src/app/gallery/views/helloDirective.tpl.html',
    ...
  };
});</code></pre>
                        <p>Comme <code>template</code> mais avec un fichier externe.</p>
                        <p>Requête Ajax la première fois puis stocké dans le <code>$templateCache</code>.</p>
                      </section>
                      
                      <section>
                        <h2>replace</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    replace: true,
    ...
  };
});</code></pre>
                        <p>Booléen qui définit si l'élément sur lequel est la <code>directive</code> doit être remplacé ou non.</p>
                        <p>Si TRUE, tous les attributs (classes, autres directives,..) sont répliqués sur l'élément root du template.</p>
                      </section>
                      
                      <section>
                        <h2>transclude</h2>
                          <pre><code>app.directive('videoPanel', function() {
  return {
    scope: {
      title: '@panelTitle'
    }
    transclude: true,
    template:  "<panel class="videoPanel">\
                    <panel-header>{{ title }}</panel-header>\
                    <panel-content ng-transclude></panel-content>\
                </panel>"
    },
    ...
  };
});</code></pre>
                          <pre><code><video-panel panel-title="Vidéo du mois">
  <img ng-src="video.image"/>
  <p>{{ video.description }}</p>
  <a ng-click="playVideo(video.id)">Voir</a>
</video-panel></code></pre>

                        <p>Permet d'avoir une <code>directive</code> avec un <code>scope isolé</code> qui a du contenu lié à son <code>scope</code> d'origine.</p>
                      </section>
                      
                      <section>
                        <h2>link</h2>
                          <pre><code>app.directive('helloDirective', function() {
  return {
    link: function (scope, element, attrs) {
      // scope = le scope défini pour la directive, le même que dans le controller.
      // element = jQuery/jQLite wrapped element.
      // attrs = objet avec comme propriété tous les attributs de l'élément (string).
    },
    ...
  };
});</code></pre>
                        <ul>
							<li>Ajout de comportements en lien avec le DOM et le <code>scope</code>.</li>
	                        <li><code>scope</code> sans le $ car pas d'injection de dépendances ici mais l'ordre des paramètres.</li>
                        </ul>
                      </section>
                      
                      <section>
                        <h2>link (suite 2)</h2>
                        <pre><code>app.directive('myDirective', function() {
  return {
    restrict: 'AE',
    template: '<p>Hello World</p>',
    link: function(scope, elem, attrs) {
      elem.css('background-color', 'red');
      
      elem.bind('click', function() {
        elem.css('background-color', getRandomColor());
      });
      
      elem.bind('mouseenter', function() {
      	elem.addClass('isHover');
        scope.$apply(function() {
          scope.showDetail = true;
        });
      });
      
      elem.bind('mouseleave', function() {
      	elem.removeClass('isHover');
        scope.$apply(function() {
          scope.showDetail = false;
        });
      });
    
      function getRandomColor() {
        return '#'+(Math.random()*0xFFFFFF<<0).toString(16);
      }
    }
  };
});</code></pre>
                      </section>
                      
                      <section>
                        <h2>link (suite 3)</h2>
                        
                        <pre><code>app.directive('helloWorldThree', function ($compile, CarCompany) {
  return {
    restrict: 'E',
    template: '<div>\
                  <h2>HelloWorldThree directive</h2>\
                  <h3>Liste des marques:</h3>\
              </div>',
    link: function (scope, elem, attrs) {
      
      var ul = document.createElement('ul');
      var lis = '';
      angular.forEach(CarCompany, function(item) {
        lis += '<li ng-click="select(\'' + item.name + '\')">' + item.name + '</li>';
      });
      ul.innerHTML = lis;
      
      elem.append(ul);
      elem.find('li').css('cursor', 'pointer');
      
      $compile(ul)(scope);
    },
    controller: function($scope) {
      
      $scope.select = function(marque) {
        alert('selection de ' + marque);
      };
    }
  };
});</code></pre>
                        
                    	<a href="http://plnkr.co/edit/wUgKRw?p=preview" target="_blank">http://plnkr.co/edit/wUgKRw?p=preview</a>
                      </section>
                      
                      <section>
                        <h2>link (suite 4)</h2>
                        
                        <ul>
	                        <li>Exécutée à chaque utilisation de la <code>directive</code>.</li>
	                        <li>Endroit où utiliser des librairies externes à Angular qui modifient le DOM.</li>
	                        <li>Pensez à mettre des <code>scope.$apply()</code> sur les catcher des events de ces librairies.</li>
	                        <li>Si utilisation de librairies externes, pensez à cleaner tout ça à la suppression du controller:<br>
	                        <pre><code>scope.$on('$destroy', function() {
  monJqueryAutocomplete.clear();
  monBootstrapDatepicker.destroy();
  //..
});</code></pre></li>
                        </ul>
                      </section>
                      
                      <section>
                        <h2>link (suite 5)</h2>
                        
                        <p>Si on a défini <code>require</code> alors un 4éme paramétre est présent:</p>
                        
                        <pre><code>app.directive('parentDirective', function () {
  return {
    restrict: 'E',
    transclude: true,
    template: '<div>\
                  <p>Parent: {{ message }}</p>\
                  <div ng-transclude></div>\
              </div>',
    controller: function ($scope) {
      this.setMessage = function (message) {
        $scope.message = message;
      };
    }
  };
});

app.directive('childDirective', function () {
  return {
    restrict: 'E',
    template: '<span>\
                  <p>Child: {{ message }}</p>\
                  <input type="text" ng-model="message" />\
                  <button ng-click="setParentMessage(message)">Change</button>\
              </span>',
    require: [
      '^parentDirective', /* présence de directive parentDirective REQUISE sur élément PARENT */
      '?ngModel' /* présence de directive ngModel OPTIONNELLE sur l'élement */
    ],
    link: function (scope, element, attrs, controllers) {
      var parentController = controllers[0];
      var ngModel = controllers[1];

      scope.setParentMessage = parentController.setMessage;
    }
  }
});</code></pre>
						<a href="http://plnkr.co/edit/z6F3tD?p=preview" target="_blank">http://plnkr.co/edit/z6F3tD?p=preview</a>
                      </section>
                      
                      <section>
                        <h2>compile</h2>
                        
                        <ul>
                        	<li>Remplace la fonction <code>link</code> et retourne une fonction <code>link</code>.</li>
                        	<li>Sert à transformer le DOM du template.</li>
                        	<li>Pas d'accés au <code>scope</code> à ce moment là.</li>
	                        <li>Fonction éxécuté une seule fois pour toute la durée de vie de l'application.</li>
	                        <li>Ajouté pour les performances.</li>
                        </ul>
                      </section>
                      
                      <section>
                        <h2>compile</h2>
                      
                      	<pre><code>app.directive('helloWorldFor', function ($compile, CarCompany) {
  return {
    restrict: 'E',
    template: '<div>\
                  <h2>HelloWorldFor directive</h2>\
              </div>',
    compile: function (elem, attrs) {
      console.log('helloWorldFor - compile function');
      
      var ul = document.createElement('ul');
      var lis = '';
      angular.forEach(CarCompany, function(item) {
        lis += '<li ng-click="select(\'' + item.name + '\')">' + item.name + '</li>';
      });
      ul.innerHTML = lis;
      
      elem.append(ul);
      elem.find('li').css('cursor', 'pointer');
      
      // retourne link function
      return function (scope, elem, attrs) {
        console.log('helloWorldFor - link function');
        // accés au scope!
      };
    },
    
    controller: function ($scope) {
      $scope.select = function(marque) {
        alert('selection de ' + marque);
      };
    }
  };
});</code></pre>
						<a href="http://plnkr.co/edit/be5Sky?p=preview" target="_blank">http://plnkr.co/edit/be5Sky?p=preview</a>
                      </section>
                      
                      <section>
                        <h2>link et controller</h2>
                        
                       	<p><code>link</code> et <code>controller</code> fonctionnent quasi à l'identique mais:</p>
                        <ul>
                        	<li><code>link</code> pour manipulation du DOM (convention).</li>
                        	<li><code>controller</code> pour communiquer avec d'autres <code>controllers</code> et <code>services</code> (convention).</li>
                        </ul>
                        
                        <p>> Permet de pouvoir tester les <code>controllers</code> sans DOM.</p>
                      </section>
                  </section>
                
                
                  <section>
                      <section>
                        <h1>types de scope</h1>
                      </section>
                      
                      <section>
                        <h2>scope: false</h2>
                        <p>Pas de nouveau <code>scope</code>.</p>
                        
                        <ul>
                            <li>Pour <code>directives</code> de petite taille.</li>
                            <li>Risque de conflit entre les variables/méthodes du <code>scope</code> utilisées dans la directives et celles en dehors.</li>
                            <li><code>Directive</code> trés liée au contexte.</li>
                        </ul>
                      </section>
                      
                      <section>
                        <ul>
                            <li>Eviter d'assigner des variables/méthodes au <code>scope</code>.</li>
                            <li>Jouer plutôt avec les attributs:<br>
                            <pre><code><my-directive custom-size="large"></my-directive></code></pre>
                            <pre><code>link: function (scope, elem, attrs) {
  switch(attrs.customSize) {
    case 'large':
      elem.addClass('sizeLarge');
      break;
    default:
    case 'small':
      elem.addClass('sizeSmall');
      break;
  }
}</code></pre></li>
                        </ul>
                      </section>
                      
                      <section>
                        <h2>scope: true</h2>
                        <p>Nouveau <code>scope</code> descendant.</p>
                        
                        <ul>
                            <li>Evite les conflits entre les variables/méthodes du <code>scope</code> de la directive et celui de l'extérieur.</li>
                            <li>Toujours accés aux variables/méthodes du <code>scope</code> parent grâce à l'héritage.</li>
                            <li><code>Directive</code> reste trés liée au contexte.</li>
                        </ul>
                      </section>
                      
                      <section>
                        <h2>scope: {}</h2>
                        <p>Créé un <code>scope</code> isolé.</p>
                        
                        <ul>
                            <li>Brise l'héritage de l'arborescence des <code>scopes</code>.</li>
                            <li>Accés possible au parent <code>scope.$parent</code> mais fortement déconseillé.</li>
                            <li>Permet de créer des briques réutilisables de toute beauté.</li>
                        </ul>
                        
                        <blockquote>L'object fourni est la pour faire l'interfaçage entre <code>scope</code> où est exécuté la <code>directive</code> et le <code>scope isolé</code> de la <code>directive</code>.</blockquote>
                      </section>
                  </section>

                  <section>
                      <section>
                        <h1>Scope isolé</h1>
                      </section>
                      
                      <section>
                          <p>3 manières d'interfacer des objets entre le <code>scope</code> d'origine et le <code>scope isolé</code>:</p>
                          
                          <pre><code>app.directive('videoItem', function () {
  return {
    scope: {
      num: '@videoNumero',
      video: '=videoInfo',
      play: '&videoPlay'
    },
    ...
  };
});
</code></pre>
						<p>Barbare à première vue mais simple.</p>
                      </section>
                      
                      <section>
                        <img data-src="images/isolate-scope.jpg"/>
                        <a href="http://onehungrymind.com/infographic-understanding-angularjs-isolated-scope/" target="_blank" class="credits-link">onehungrymind.com</a>
                      </section>
                      
                      <section>
                          <h2>data-binding bidirectionnel</h2>
                          <h1>=</h1>
                          
                          <ul>
                          	<li>Synchronisation dans les 2 sens.</li>
                          	<li>Modifications sur le <code>scope</code> d'origine reflétées sur le <code>scope isolé</code>.</li>
                          	<li>Et inversement!</li>
                          </ul>
                      </section>
                      
                      <section>
                          <h2>data-binding unidirectionnel</h2>
                          <h1>@</h1>
                          
                          <ul>
                          	<li>Le <code>scope isolé</code> récupére une string.</li>
                          	<li>Coté <code>scope</code> d'origine, mettre des <code>{{ }}</code> pour transmettre du contenu bindé:
                          	<pre><code><my-directive binding-unidir="Version {{ productversion}}"></my-directive></code></pre></li>
                          	<li>Modifications sur le <code>scope</code> d'origine reflétées sur le <code>scope isolé</code></li>
                          	<li>Mais PAS l'inverse.</li>
                          </ul>
                      </section>
                      
                      <section>
                          <h2>execution d'une expression</h2>
                          <h1>&</h1>
                          
                          <ul>
                          	<li>Exécute une expression sur le <code>scope</code> d'origine à partir du <code>scope isolé</code>.</li>
                          	<li>Appelé sous la forme d'une méthode dans le <code>scope isolé</code>.</li>
                          </ul>
                      </section>
                      
                      <section>
                          <h2>exemple</h2>
                          
                          <pre><code>app.controller('MainCtrl', function($scope) {
  $scope.videos = [
    { id: 51, name: 'vacances corses', img: 'http://lorempixel.com/180/200/', description: 'dfkjvgk jdfgkjd fkgkfdj kjfdkjfdk jgdfkjg kjdf kjgdf gf' },
    { id: 62, name: 'concert MJ', img: 'http://lorempixel.com/180/200/', description: 'eroi terljedrgjrel jlfdjb lihfb njlf bjdfl bhlidjfh j' },
    { id: 2, name: 'construction maison', img: 'http://lorempixel.com/180/200/', description: 'xcvlsdj dslgj ldrgjli dg ,jdlfig lidfgjdfijhg dlfj gd' },
    { id: 955, name: 'le fils de lhomme', img: 'http://lorempixel.com/180/200/', description: 'oy jyth yotjh fjtlgh ijlflhij flijh ilfj hiflj' }
  ];
  
  $scope.playVideo = function(idVideo) {
    alert('lire la vidéo id ' + idVideo);
  };
});

app.directive('videoItem', function () {
  return {
    restrict: 'E',
    scope: {
      num: '@videoNum',
      video: '=videoInfo',
      play: '&videoPlay'
    },
    template:  '<div class="item">\
                  <img ng-src="{{ video.img}}" />\
                  <h2>{{ num + ": " + video.name }}</h2>\
                  <p>{{ video.description }}</p>\
                  <button ng-click="play({idVideo: video.id})">Jouer la video</button>\
                </div>',
    /*link: function(scope, elem, attrs) {
      scope.num = attrs.videoNum;
    }*/
  };
});</code></pre>
						<a href="http://plnkr.co/edit/7B5Lfg?p=preview" target="_blank">http://plnkr.co/edit/7B5Lfg?p=preview</a>
                      </section>
                  </section>
            </div>

        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.js"></script>

        <script>

            // Full list of configuration options available at:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                //width: 1200,
                //height: 900,
                
                controls: true,
                progress: true,
                history: true,
                center: true,

                transition: 'slide', // none/fade/slide/convex/concave/zoom

                // Optional reveal.js plugins
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true },
                    { src: 'plugin/notes/notes.js', async: true }
                ]
            });

        </script>

    </body>
</html>
